<%- include('./partials/header') %>
<div class="container mt-5">
    <form action="/todo" method="POST">
        <div class="input-group">
            <input type="text" id="todo" name="todo" class="form-control" placeholder="Enter To Do">
            <button class="btn btn-outline-light" type="submit" id="submit">ADD</button>
        </div>
    </form>
    <div class="my-5">
        <ul class="list-group">
        <% todos.forEach(todo => { %>
            <div class="d-flex p-1 flex-row">
                <a class="btn btn-outline-light" href="/todo/edit/<%= todo._id %>">EDIT</a>
                <li class="list-group-item rounded" style="width: 2000px; "><%= todo.todo %></li>
                <a class="btn btn-outline-light" href="/todo/done/<%= todo._id %>">DONE</a>
            </div>
        <% }) %>
          </ul>
    </div>
</div>
<%- include('./partials/footer') %>
